__pycache__/

doc/example/cv_results.tsv
doc/example/co_occurrence_scores.tsv
doc/example/demo.ftz
doc/example/demo_scored.tsv
doc/example/probabilities.txt.gz
doc/example/sentences.txt
doc/example/demo_labels.tsv
doc/example/sentences_labels.txt
